<tr>
  <td scope="row">{{id}}</td>
  <td scope="row">{{dish_id}}</td>
  <!-- TODO: when clicked, can change quantity of item -->
  <td scope="row">{{quantity}}</td>
  <td scope="row">${{price}}</td>
  <td scope="row"><button class="delete">X</button></td>
</tr>