<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smorgasbord</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/stylesheets/style.css" />
    <link>
  </head>

  <body>
    <div class="topnav">
      <header>
         <nav>
                <!--unordered list element-->
                <ul>
                    <!--list item element-->
                    <div class="topnav-right">
                        <!--Anchor element-->
                        <a href="#cart">Cart</a>
                   
                   
                        <a href="#login">Login</a>
                    
        
                        <a href="#user-acc">My Account</a>
                    </div>
                </ul>
            </nav>  
        <h1>
               <a href="/"> Smorgasbord </a>
             </h1>
             <h2>Your Favorite Restaurants, Right Meow</h2>
      </header>
      
    </div>
      <main>
        {{{body}}}
      </main>
       <!--"reach out"section-->
        
     <footer>
            <h2>❤️ Made with love by Smorgasbord.</h2>
           <div>
            <a href="#">Read our Privacy Policy</a><br />
            &copy; 2022 Smorgasbord, Inc.
            </div>
      </footer> 
  </body>

</html>