<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smorgasbord</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="public/assets/stylesheets/style.css" />
    <link>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div></div>
       
        <a href="/homepage"></a>
       
        {{!-- add picture of cat --}}
        {{!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a href="#" class="nav-link px-2 text-black">Login</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 text-black">Cart</a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 text-black">Menu</a>
          </li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-darl text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></a>
        </div>
        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Cart</a>
          </li>
        </ul> --}}
        <nav>
          <a href="/login">login</a>
          <a href="/cart">cart</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Copyright 2022
      </footer>
    </div>
  </body>

</html>