<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smorgasbord</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
    <link rel="stylesheet" href="/assets/stylesheets/cart.css" />
  </head>

  <body>
    <div class="container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Features</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">pricing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link cart" id="{{cart_id}}">Cart</a>
          </li>
        </ul>
      </header>
    </div>
      <main>
        {{{body}}}
      </main>
      <footer>
        Copyright 2022
      </footer>
    </div>
  </body>

</html>