<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smorgasbord</title>
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1 href="/homepage">
          Smörgåsbord
        </h1>
        <nav>
          <a href="/login">login</a>
          <a href="/cart">cart</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer></footer>
    </div>
  </body>

</html>