* {
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
h2.tagline {
  color: white;
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #1e90ff;
  z-index: 1000;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1e90ff;
  z-index: 1000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1280px;
  margin: auto;
}
.navbar {
  width: 85%;
  margin: auto;
  min-height: 50px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  float: left;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  float: right;
}
.nav-branding {
  font-size: 2rem;
  font-family: "Righteous", cursive;
}
.nav-link {
  font-size: larger;
}
.restaurant-card {
  color: black;
  border: solid;
  border-color: #00bfff;
  border-width: 25px;
  padding: 5px;
  margin: 15px;
}
.center-container {
  text-align: center;
}
.restaurant-card h2 {
  color: black;
}
.restaurant-dish {
  background-color: #edf2f4;
  max-width: 800px;
  margin-bottom: 0;
  border: solid;
  border-color: #00bfff;
  border-width: 15px;
}
.restaurant-title {
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.name {
  color: black;
}
.card-img-top {
  background-color: #edf2f4;
}
.dish-card {
  height: 17rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #edf2f4;
}
.add-to-cart {
  color: white;
  background-color: #d90429;
  font-weight: bold;
  width: 45%;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
