<h2>Order Cart</h2>
<div class="left-container">
  <table class="cart-list table table-hover table-borderless">
    <thead>
      <tr>
        {{!-- <th scope="col"></th> --}}
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
  <tbody>
   {{#each cart}}
        {{>cart-item}}
  {{/each}}
  </tbody>
  </table>
  <!-- add total price? -->
  <div class="col-6 mx-auto text-center">
  <button type="button" class="btn btn-danger">Add More Items</button>
  </div>
  <!-- add functionality if time allows
<button type="button" class="btn btn-danger">Drop Here to Remove Item</button> 
-->
</div>

<!-- add details regarding pickup/delivery, discounts, tip, etc. -->
<div class="right-container">
</div>

<script src="/javascript/deleteCartItem.js"></script>