<div class="m-5 p-5 row justify-content-around">
  {{#each restaurants as |restaurant|}}
    <div class="restaurant-card col-12 col-lg-4 " id="{{id}}">
      <h2>{{name}}</h2>
      <p>Price per Plate: {{format_expensive how_expensive}}</p>
      <p>Type of Food: {{type_of_food}}</p>
    </div>
  {{/each}}
</div>