
{{#each restaurants as |restaurant|}}
    <div>
        <ul>
            <li>{{name}}</li>
            <li>{{how_expensive}}</li>
            <li>{{type_of_food}}</li>
        </ul>
    </div>
{{/each}}