{{#each restaurant.dishes as |dish|}}
    <div>
        <ul>
            <li>{{name}}</li>
        </ul>
    </div>
{{/each}}





{{!-- have a button, 

<div>
    <button type="submit" id={{id}} class="add-to-cart">add to cart</button>
  </div>
  
   --}}


{{!-- have button of each item have id of the dish, to help with front end --}}